*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../modern.jpg);
    background-size: cover;
    background-position: center;
}

/* nav */

/* NAV */
.logo{
    
    width: 200px;
    cursor: pointer;
    
}
.navbar{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 10px; */
  }
  .navbar nav a{
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(207, 202, 202);
    text-decoration: none;
    padding: 6px 5px;
    transform: .5s;
  }
  .navbar nav .btn{
    
      width: 100px;
      padding: 5px 0;
      text-align: center;
      margin: 20px 10px;
      border-radius: 25px;
      font-weight: bold;
      border: 2px solid #8edfd8;
      background: transparent;
      color: #fff;
      cursor: pointer;
      position: relative;
      overflow: hidden;
  
  }
  .navbar  nav .sp{
    background: #009688;
    height: 200%;
    width: 0;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  .navbar  nav .btn:hover .sp{
    width: 100% ;
  }
  .navbar nav a:hover{
    /* color: #0ef; */
    color: #009688;
  }
  /* nav a span{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #009688;
    border-radius: 10px;
    transform: scale(0) translateY(50px);
    opacity: 0.9;
    transition: .5s;
  } */
 .navbar nav a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  
/* nav end */
/* .navbar{
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
width: 100%;
} */
.content{
    width: 100%;
    position: absolute;
    top: 72%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button a{
    text-decoration: none;
}